{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Word Coach</title>

  <link href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800|Ubuntu:300,400,500,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

  <!-- Navigation -->
  <section class="navigation sticky-top container">
    <ul class="row nav-item text-center">
      <li class="nav-item col list-unstyled">
        <a class="nav-link" href="{% url 'learn' %}">test</a>
      </li>
      <li class="nav-item col list-unstyled">
        <a class="nav-link" href="{% url 'add' %}">add</a>
      </li>
      <li class="nav-item col list-unstyled">
        {% if user.is_authenticated %}
        <p class="nav-item">logged in as {{ user.username }}</p>
        {% endif %}
      </li>
      <li class="nav-item col list-unstyled">
        {% if user.is_authenticated %}
        <form action="{% url 'logoutuser' %}" method="POST">
          {% csrf_token %}
            <button type="submit" class="btn nav-link">logout</button>
        </form>
        {% else %}
        <a href="{% url 'loginuser' %}" class="nav-link">login</a>
        {% endif %}
      </li>
    </ul>
  </section>



{% block content %}
{% endblock content %}

</div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
